{% extends 'basic.html' %}
{% block courseactive %}active{% endblock courseactive%}
{% load static %}
{% block body %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Our Courses</h3>
</div>
<div class="popular_courses" style="background-color:rgb(154, 21, 243);">
    <div class="all_courses">
        <div class="container">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    {% for course in courses %}
                    <div class="col-xl-4 col-lg-4 col-md-6 ">
                        <div class="single_courses border">
                            <div class="thumb">
                                <a href="/course_detail/{{course.id}}">
                                    <img src="{{course.image.url}}" alt="" style="height:15em;">
                                </a>
                            </div>
                            <div class="courses_info">
                                <span><b>{{course.difficulty}}</b></span>
                                <h3><a href="/course_detail/{{course.id}}">{{course.title}}</a></h3>
                                <div class="star_prise d-flex justify-content-between">
                                    <div class="star">
                                        <i class="flaticon-mark-as-favorite-star"></i>
                                        <span><b>{{course.language}}</b></span>
                                    </div>
                                    {% if course.id in purchaged_course %}
                                    <div class="prise">
                                        <span class="active_prise">
                                           <b> Play</b>
                                        </span>
                                    </div>
                                    {% else %}
                                    <div class="prise">
                                        <span class="active_prise">
                                            RS{{course.price}}
                                        </span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}