{% extends 'basic.html' %}
{% block body %}
{% load static %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Buying Course</h3>
    <div class="container-fluid mt-3">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">

                    <img src="{% static 'img/form-logo.png' %}" alt="">

                </div>
                <h3>{{course.title}}</h3>
                <div class="row" style="font-size:2em;">
                    <div class="col-xl-12 col-md-12">
                        <b>Price: {{course.price}}</b>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <b>Difficulty: {{course.difficulty}}</b>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <b>Language: {{course.language}}</b>
                    </div>
                    <form action="/buy_course/{{course.id}}/" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{course.id}}" name="cid">
                        <input type="hidden" value="{{course.price}}" name="price">
                        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_hykiQnvdkLhUch"
                        data-amount="500" data-currency="INR" 
                        data-buttontext="Pay with Razorpay" data-name="{{course.title}}" data-theme.color="rgb(154, 21, 243)"></script>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}