{% extends 'basic.html' %}
{% load static %}
{% block body %}
<div class="bradcam_area breadcam_bg overlay2 mb-5">
    <h3>Course Name</h3>
</div>
<div class="container" style="background: black; height: 33rem;width: 60rem; margin-top: 20em;">
    <a href="https://www.youtube.com/watch?v=AjgD3CvWzS0">
        <div class="col-md-12">
            <i class="fa fa-play" style="margin: 27% 50%; font-size:3rem; color: aqua; "></i></div>
    </a>
</div>
<div class="container">
    <div class="col-md-12" style="font-size: 2em;"><b>Video Heading</b></div>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fa fa-play"></i> Is WordPress hosting worth it?
                    </button>
                </h5>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                        <i class="fa fa-play"></i>Basic Classes</span>
                    </button>
                </h5>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        <i class="fa fa-play"></i> Will you transfer my site?
                    </button>
                </h5>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading_4">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_4"
                        aria-expanded="false" aria-controls="collapse_4">
                        <i class="fa fa-play"></i> Why should I host with Hostza?
                    </button>
                </h5>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading_5">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_5"
                        aria-expanded="false" aria-controls="collapse_5">
                        <i class="fa fa-play"></i> How do I get started <span>with Shared
                            Hosting?</span>
                    </button>
                </h5>
            </div>
        </div>
    </div>
</div>

<!-- our_courses_start -->
<div class="our_courses">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>Our Course Speciality</h3>
                    <p>Your domain control panel is designed for ease-of-use and <br>
                        allows for all aspects of your domains.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon">
                        <i class="flaticon-art-and-design"></i>
                    </div>
                    <h3>Premium Quality</h3>
                    <p>
                        Your domain control panel is designed for ease-of-use <br> and <br>
                        allows for all aspects of
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon blue">
                        <i class="flaticon-business-and-finance"></i>
                    </div>
                    <h3>Premium Quality</h3>
                    <p>
                        Your domain control panel is designed for ease-of-use <br> and <br>
                        allows for all aspects of
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon">
                        <i class="flaticon-premium"></i>
                    </div>
                    <h3>Premium Quality</h3>
                    <p>
                        Your domain control panel is designed for ease-of-use <br> and <br>
                        allows for all aspects of
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon gradient">
                        <i class="flaticon-crown"></i>
                    </div>
                    <h3>Premium Quality</h3>
                    <p>
                        Your domain control panel is designed for ease-of-use <br> and <br>
                        allows for all aspects of
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our_courses_end -->
{% endblock body %}